@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/admin/css/bootstrap-theme.css" rel="stylesheet">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/9bc32df3ad.js"></script>
    <!-- font icon -->
    <link href="~/admin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/admin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/admin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/admin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/admin/css/owl.carousel.css" type="text/css">
    <link href="~/admin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/admin/css/fullcalendar.css">
    <link href="~/admin/css/widgets.css" rel="stylesheet">
    <link href="~/admin/css/style.css" rel="stylesheet">
    <link href="~/admin/css/style-responsive.css" rel="stylesheet" />
    <link href="~/admin/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/admin/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

</head>

<body>
    <!-- container section start -->
    <section id="container" class="">
        <div class="wrap">
            <header id="header" class="header">
                <div class="toggle-nav">
                    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
                </div>
                <!--logo start-->
                <nav class="logo">
                    <a class="nav-link scrollto active" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/RD_MLogo2.png"></a>
                    <!--logo end-->
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="pull-right m-t-10">
                            <h7>Bem-Vindo/a @User.Identity.Name!</h7>

                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="button-form-btn">Logout</button>
                            </form>
                        </ul>
                    }
                </nav>
            </header>
            <!--header end-->
            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="sub-menu">
                                <a class="" a asp-area="" asp-controller="AdminOp" asp-action="Index">
                                    <i class="icon_house"></i>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="icon_document_alt"></i>
                                    <span>Gerir Clientes</span>
                                    <span class="menu-arrow arrow_carrot-right"></span>
                                </a>
                                <ul class="sub">
                                    @*Especificar aqui o asp-route, para diferenciar as páginas*@
                                    <li>
                                        <a class="">Consultar</a>
                                        <ul>
                                            <li><a class="" a asp-area="" asp-controller="Utilizadores" asp-action="IndexClientes" asp-route-tipoUtil="Cliente">NIF</a></li>
                                            <li><a class="" a asp-area="" asp-controller="Utilizadores" asp-action="IndexClientesDistritos" asp-route-tipoUtil="Cliente">Distrito</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="" a asp-area="" asp-controller="Top10" asp-action="Top10Clientes">Ver Ranking</a></li>
                                    <li><a class="" a asp-area="" asp-controller="Utilizadores" asp-action="CreateClientes" asp-route-tipoUtil="Cliente">Criar</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="icon_group"></i>
                                    <span>Gerir Administradores</span>
                                    <span class="menu-arrow arrow_carrot-right"></span>
                                </a>
                                <ul class="sub">
                                    <li><a class="" a asp-area="" asp-controller="Utilizadores" asp-action="IndexAdministradores" asp-route-tipoUtil="Func">Consultar</a></li>
                                    <li><a class="" a asp-area="" asp-controller="Utilizadores" asp-action="CreateAdiministrador" asp-route-tipoUtil="Func">Criar</a></li>
                                </ul>

                            </li>
                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="icon_key"></i>
                                    <span>Gerir Funcionários</span>
                                    <span class="menu-arrow arrow_carrot-right"></span>
                                </a>
                                <ul class="sub">
                                    <li>
                                        <a class="">Consultar</a>
                                        <ul>
                                            <li><a class="" a asp-area="" asp-controller="Utilizadores" asp-action="IndexFuncionarios" asp-route-tipoUtil="Func">NIF</a></li>
                                            <li><a class="" a asp-area="" asp-controller="Utilizadores" asp-action="IndexFuncionariosDistritos" asp-route-tipoUtil="Func">Distritos</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="" a asp-area="" asp-controller="Top10" asp-action="Top10Operadores">Ver Ranking</a></li>
                                    <li><a class="" a asp-area="" asp-controller="Utilizadores" asp-action="CreateFuncionarios" asp-route-tipoUtil="Func">Criar</a></li>
                                </ul>

                            </li>

                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="icon_bag"></i>
                                    <span>Gerir Pacotes</span>
                                    <span class="menu-arrow arrow_carrot-right"></span>
                                </a>
                                <ul class="sub">
                                    <li><a class="" a asp-area="" asp-controller="Pacotes" asp-action="Index">Consultar</a></li>
                                    <li><a class="" a asp-area="" asp-controller="Pacotes" asp-action="Create">Criar</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="icon_cart"></i>
                                    <span>Gerir Promoções</span>
                                    <span class="menu-arrow arrow_carrot-right"></span>
                                </a>
                                <ul class="sub">
                                    <li><a class="" a asp-area="" asp-controller="Promocoes" asp-action="Index">Consultar</a></li>
                                    <li><a class="" a asp-area="" asp-controller="Promocoes" asp-action="Create">Criar</a></li>
                                </ul>

                            </li>

                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="icon_search-2"></i>
                                    <span>Gerir Serviços</span>
                                    <span class="menu-arrow arrow_carrot-right"></span>
                                </a>
                                <ul class="sub">
                                    <li><a class="" a asp-area="" asp-controller="Servicos" asp-action="Index">Consultar</a></li>
                                    <li><a class="" a asp-area="" asp-controller="Servicos" asp-action="Create">Criar</a></li>
                                </ul>
                            </li>
                            @*<li>
                                    <a class="" a asp-area="" asp-controller="Servicos" asp-action="Index">
                                        <i class="icon_piechart"></i>
                                        <span>Gerir Promoções</span>

                                    </a>
                                </li>*@
                        }

                        @if (User.IsInRole("Operador"))
                        {

                            <li class="sub-menu">
                                <a class="" a asp-area="" asp-controller="AdminOp" asp-action="Index">
                                    <i class="icon_house"></i>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="sub-menu">
                                <a class="" a asp-area="" asp-controller="Top10" asp-action="Top10Operadores">
                                    <i class="fas fa-medal"></i>
                                    <span>Ranking distrital</span>

                                </a>
                            </li>
                            <li class="sub-menu">
                                <a class="" a asp-area="" asp-controller="Utilizadores" asp-action="IndexClientes" asp-route-tipoUtil="Cliente">
                                    <i class="icon_contacts_alt"></i>
                                    <span>Ver lista de Clientes</span>

                                </a>
                            </li>


                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="icon_document"></i>
                                    <span>Gerir Contratos</span>
                                    <span class="menu-arrow arrow_carrot-right"></span>
                                </a>

                                <ul class="sub">
                                    <li><a class="" a asp-area="" asp-controller="Contratos" asp-action="Index">Consultar</a></li>
                                    <li><a class="" a asp-area="" asp-controller="Contratos" asp-action="Create">Criar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="" a asp-area="" asp-controller="Pacotes" asp-action="Index">
                                    <i class="icon_genius"></i>
                                    <span>Pacotes disponíveis</span>
                                </a>
                            </li>
                            <li>
                                <a class="" a asp-area="" asp-controller="Promocoes" asp-action="Index">
                                    <i class="icon_calculator_alt"></i>
                                    <span>Promoções em vigor</span>

                                </a>

                            </li>

                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="fa fa-inbox" aria-hidden="true"></i>
                                    <span>Reclamações</span>
                                    <span class="menu-arrow arrow_carrot-right"></span>
                                </a>

                                <ul class="sub">
                                    <li><a class="" a asp-area="" asp-controller="Reclamacoes" asp-action="Index">Reclamações Ativas</a></li>
                                    <li><a class="" a asp-area="" asp-controller="Reclamacoes" asp-action="">Reclamações Arquivadas</a></li>
                                </ul>
                            </li>

                        }

                        @if (User.IsInRole("Cliente"))
                        {

                            <li class="sub-menu">
                                <a a asp-area="" asp-controller="Clientes" asp-action="Details">
                                    <i class="icon_document_alt"></i>
                                    <span>Dados Pessoais</span>
                                    @*<span class="menu-arrow arrow_carrot-right"></span>*@
                                </a>
                                @*<ul class="sub">
                                        <li><a class="" href="form_component.html">Form Elements</a></li>
                                        <li><a class="" href="form_validation.html">Form Validation</a></li>
                                    </ul>*@
                            </li>
                            <li class="sub-menu">
                                <a a asp-area="" asp-controller="Contratos" asp-action="Index" class="">
                                    <i class="icon_desktop"></i>
                                    <span>Ver Contratos</span>
                                    @*<span class="menu-arrow arrow_carrot-right"></span>*@
                                </a>
                                @*<ul class="sub">
                                        <li><a class="" href="general.html">Elements</a></li>
                                        <li><a class="" href="buttons.html">Buttons</a></li>
                                        <li><a class="" href="grids.html">Grids</a></li>
                                    </ul>*@
                            </li>
                            <li>
                                <a class="" a asp-area="" asp-controller="Pacotes" asp-action="Index">
                                    <i class="icon_genius"></i>
                                    <span>Pacotes disponíveis</span>
                                </a>
                            </li>
                            <li>
                                <a class="" a asp-area="" asp-controller="Promocoes" asp-action="Index">
                                    <i class="icon_piechart"></i>
                                    <span>Promoções em vigor</span>

                                </a>

                            </li>
                        }
                        </nav>
                    </ul>
                </div>
            </aside>
        </div>
    </section>

    <!-- javascripts -->
    <script src="~/admin/js/jquery.js"></script>
    <script src="~/admin/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/admin/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="~/admin/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/admin/js/jquery.scrollTo.min.js"></script>
    <script src="~/admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="~/admin/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/admin/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/admin/js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <
    <script src="~/admin/js/fullcalendar.min.js"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="~/admin/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->

    <script src="~/admin/js/calendar-custom.js"></script>
    <script src="~/admin/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="~/admin/js/jquery.customSelect.min.js"></script>
    <script src="~/admin/assets/chart-master/Chart.js"></script>



    <!--custome script for all page-->
    <script src="~/admin/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="~/admin/js/sparkline-chart.js"></script>
    <script src="~/admin/js/easy-pie-chart.js"></script>
    <script src="~/admin/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/admin/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/admin/js/xcharts.min.js"></script>
    <script src="~/admin/js/jquery.autosize.min.js"></script>
    <script src="~/admin/js/jquery.placeholder.min.js"></script>
    <script src="~/admin/js/gdp-data.js"></script>
    <script src="~/admin/js/morris.min.js"></script>
    <script src="~/admin/js/sparklines.js"></script>
    <script src="~/admin/js/charts.js"></script>
    <script src="~/admin/js/jquery.slimscroll.min.js"></script>
    <script>
        //knob
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @RenderBody()
    @RenderSection("Scripts", required: false)

</body>

</html>
