
@{
    ViewData["Title"] = "Inexistente";
    Layout = "_LayoutAdmin";
}
<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card text-white bg-warning mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.Title</h5>
                            <p class="card-text">O Serviço que selecionou já não existe.</p>

                            <div>
                                <a class="btn btn-primary" asp-action="Index">
                                    Voltar aos Serviços
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>
    </section>


</section>