
@{
    ViewData["Title"] = "Sucesso!";
    Layout = "_LayoutAdmin";
}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-file-text-o"></i>Contratos</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="icon_document_alt"></i>Contratos</li>
                    <li><i class="fa fa-file-text-o"></i>Criar</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="alert alert-success fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                        </button>
                        <strong>@ViewBag.Title</strong> @ViewBag.Mensagem
                    </div>
                    <a class="btn btn-info" asp-action="Index">Volta à lista</a>
                </section>
            </div>
        </div>
    </section>
</section>




