@{
    ViewData["Title"] = "Lab.Web";
}
@{

    Layout = "_LayoutIndex";
}

<main id="main" class="main_area">
    <!--Section 1-->
    <section id="features" class="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-6">
                    <div class="card" data-aos="fade-up">
                        <img src="~/TemplMain/assets/img/Disney.jpg" class="card-img-top" alt="CanaisD">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Descobre já os nossos canais ☺</a></h5>
                            <p class="card-text">
                                Com a DR Telecomunicações deixa-te levar por uma vasta gama de canais exclusivos!
                                Escolhe canais de filmes, canais de séries, canais de desporto. Tudo e muito mais, a um clique de distância.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card" data-aos="fade-up" data-aos-delay="150">
                        <img src="~/TemplMain/assets/img/smartphones.jpg" class="card-img-top" alt="WhyUs">
                        <div class="card-body">
                            <h6 class="card-title"><a href="">Mantém o teu número!</a></h6>
                            <p class="card-text">A RD Telecomunicações garante a portabilidade do teu numero sem complicações! </p>
                        </div>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-delay="150">
                        <img src="~/TemplMain/assets/img/gmg.jpeg" class="card-img-top" alt="WhyUs">
                        <div class="card-body">
                            <h6 class="card-title"><a href="">Gaming Exclusivo!</a></h6>
                            <p class="card-text">Aproveita para teres a melhor internet em qualquer sitio que estejas! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">
            <h1><b>As nossas ofertas</b></h1><br />
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy"><i class="far fa-registered" alt="" data-aos="zoom-in"></i></a>
                    <h4>RD Telecom</h4>
                    <h6><b>A Empresa</b></h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a asp-area="" asp-controller="Home" asp-action="TVBase">
                        <i class="fas fa-store" alt="" data-aos="zoom-in" data-aos-delay="100"></i>
                    </a>
                    <h4>Videoclube</h4>
                    <h6><b>RD Telecom</b></h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-podcast" alt="" data-aos="zoom-in" data-aos-delay="100"></i>
                    </a>
                    <h4>MusicStore</h4>
                    <h6><b>RD Telecom</b></h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-gamepad" alt="" data-aos="zoom-in" data-aos-delay="100"></i>
                    </a>
                    <h4>GameStore</h4>
                    <h6><b>RD Telecom</b></h6>
                </div>
            </div>            
        </div>
    </section>
    <!-- End Clients Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card" data-aos="fade-up">
                        <img src="~/TemplMain/assets/img/sphoneeat.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Páscoa cheia de descontos</a></h5>
                            <p class="card-text">Esta Páscoa, descobre todas as promoções que consegues ter ao aderir à RD Telecomunicações! </p>
                        </div>
                    </div>                                
                    <div class="card" data-aos="fade-up" data-aos-delay="150">
                        <img src="~/TemplMain/assets/img/PRDT.jpg" class="card-img-top" alt="...">
                        <div class="card-body">                            
                            <h5 class="card-title"><a href="">Juntos por si</a></h5>
                            <p class="card-text">Na RD Telecomunicações a nossa prioridade é que se sinta sempre satisfeito, com a melhor qualidade de serviço e atendimento. </p>
                        </div>
                    </div>
                </div>            
                <div class="col-lg-9 col-md-6 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up">
                        <img src="~/TemplMain/assets/img/Gmng.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Joga em qualquer lugar</a></h5>
                            <p class="card-text">Com a fibra RD Telecom aproveita a melhor velocidade de internet no mercado e não tenhas nem mais um segundo de LAG! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Features Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container-fluid activity-body">
            <div class="text-center" data-aos="zoom-in">
                <h3>Fala com um assistente!</h3>
                <p>Se tiveres alguma duvida ou questão não hesites em contactar o nosso apoio técnico! 
                Clica em baixo para teres o apoio mais adequado aquilo que procuras.</p>
                <a class="cta-btn" href="#">Contactar</a>
            </div>
        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Services Section ======= -->
    <!--<section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-down">
                <span>Services</span>
                <h2>Services</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bi bi-briefcase" style="color: #0ea5e0;"></i>
                        <h4><a href="#">Lorem Ipsum</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-card-checklist" style="color: #07cc70;"></i>
                        <h4><a href="#">Dolor Sitema</a></h4>
                        <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-bar-chart" style="color: #e40373;"></i>
                        <h4><a href="#">Sed ut perspiciatis</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-binoculars" style="color: #f0b103;"></i>
                        <h4><a href="#">Nemo Enim</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-brightness-high" style="color: #3145fa;"></i>
                        <h4><a href="#">Magni Dolore</a></h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-calendar4-week" style="color: #a00098;"></i>
                        <h4><a href="#">Eiusmod Tempor</a></h4>
                        <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                    </div>
                </div>
            </div>

        </div>
    </section>--><!-- End Services Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="section-title" data-aos="fade-down">
                <span>Pacotes</span>
                <h2>Pacotes</h2>
                <p>Escolha aqui entre os pacotes mais populares os mais adequados para si e para a sua familia.</p>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
                    <h3>Internet + Televisão + Telefone</h3>
                    <h4>€34,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 140 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/100</s>  200/100 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li class="na"><i class="bx bx-x"></i> <span>Sem Oferta/Promoção</span></li>
                    </ul><br /><br />
                    <label class="button-form-btn" for="dialog_state">
                        <i class="icon ion-ios-upload-outline"></i> Aderir
                    </label>
                </div>

                <div class="col-lg-4 box featured" data-aos="zoom-in" data-aos-delay="100">
                    <h5>Pacote RD Familiar</h5>
                    <h3>Internet + Televisão + Telefone + Telemóvel</h3>
                    <h4>€44,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 170 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/100</s>  500/100 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li><i class="fas fa-mobile-alt"></i><b>  2 Números móveis com 2GB</b></li>
                        <li><i class="fas fa-gift"></i> Desconto 5€/mês</li>
                    </ul>
                    <label class="button-form-btn2" for="dialog_state">
                        <i class="icon ion-ios-upload-outline"></i> Aderir
                    </label>
                </div>
                <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
                    <h5>Pacote RD Gaming</h5>
                    <h3>Internet + Televisão + Telefone + Telemóvel</h3>
                    <h4>€54,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 170 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/200</s>  500/200 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li><i class="fas fa-mobile-alt"></i><b>  2 Números móveis com 10GB</b></li>
                        <li><i class="fas fa-gift"></i> Desconto 5€/mês</li>
                    </ul>
                    <label class="button-form-btn" for="dialog_state">
                        <i class="icon ion-ios-upload-outline"></i> Aderir
                    </label>
                </div>
            </div>
        </div>
    </section>
</main>


<!--Popup-->
    <input type="checkbox" name="dialog_state" id="dialog_state" class="dialog_state">
    <div id='dialog'>
        <label id="dlg-back" for="dialog_state"></label>
        <div id='dlg-wrap'>
            <label id="dlg-close" for="dialog_state"><i class="fas fa-times-circle"></i></label>
            <h2 id='dlg-header'>Aderir</h2>
            <div id='dlg-content col-lg-2'>Regista-te de uma forma rápida e simples!</div>
            <div id='dlg-prompt'>
                <label class="button-form-btn">
                    <i class="icon ion-ios-checkmark-empty"></i> Aderir                  
                </label>
            </div>
    </div>
        </div>


