@{
    ViewData["Title"] = "Lab.Web";
}
@{

    Layout = "_LayoutIndex";
}


    <!-- ======= Secção Features ======= -->
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up">
                        <img src="~/TemplMain/assets/img/features-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-tachometer"></i>
                            <h5 class="card-title"><a href="">A nossa Missão</a></h5>
                            <p class="card-text">t, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        <!-- ======= Secção Features ======= -->
        <section id="features" class="features">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="card" data-aos="fade-up">
                            <img src="~/TemplMain/assets/img/features-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <i class="bx bx-tachometer"></i>
                                <h5 class="card-title"><a href="">A nossa Missão</a></h5>
                                <p class="card-text">t, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5 mt-md-0 d-flex align-items-stretch">
                        <div class="card" data-aos="fade-up" data-aos-delay="150">
                            <img src="~/TemplMain/assets/img/features-2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <i class="bx bx-file"></i>
                                <h5 class="card-title"><a href="">O nosso Plano</a></h5>
                                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <div class="card" data-aos="fade-up" data-aos-delay="300">
                            <img src="~/TemplMain/assets/img/features-3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <i class="bx bx-show"></i>
                                <h5 class="card-title"><a href="">A nossa Visão</a></h5>
                                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Fim Secção Features -->

        </section>
        <!-- Fim Secção Features -->

        <!-- ======= Secção Apoio ======= -->
        <section id="cta" class="cta">
            <div class="container">


                <div class="text-center" data-aos="zoom-in">
                    <h3>Atendimento Imediato</h3>
                    <p> Fala com um colaborador para que te possa indicar qual o pacote mais apropriado para os serviços que pretendes.</p>
                    <a class="cta-btn" href="#">Contactar um colaborador</a>
                </div>

            </div>
        </section>
        <!-- Fim Secção Apoio -->
        <!-- ======= Secção Serviços ======= -->
        <section id="services" class="services">
            <div class="container">


        </div>
    </section>
    <!-- Fim Secção Apoio -->
   
    <!-- ======= Secção Preços ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

                <div class="section-title" data-aos="fade-down">
                    <span>Serviços</span>
                    <h2>Serviços</h2>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-calendar4-week" style="color: #0ea5e0;"></i>
                            <h4><a href="#">Internet</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-card-checklist" style="color: #07cc70;"></i>
                            <h4><a href="#">Televisão</a></h4>
                            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-bar-chart" style="color: #e40373;"></i>
                            <h4><a href="#">Dados Móveis</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-brightness-high" style="color: #f0b103;"></i>
                            <h4><a href="#">Telemovel</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim Secção Serviços -->
        <!-- ======= Secção Preços ======= -->
        <section id="pricing" class="pricing">
            <div class="container">


                <div class="section-title" data-aos="fade-down">
                    <span>Preços</span>
                    <h2>Preços</h2>
                </div>

                <div class="row no-gutters">


                <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
                    <h5>Pacote RD3</h5>
                    <h3>Internet + Televisão + Telefone</h3>
                    <h4>€34,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 140 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/100</s>  200/100 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li class="na"><i class="bx bx-x"></i> <span>Sem Oferta/Promoção</span></li>

                      <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
                        <h5>3P</h5>
                        <h3>Internet + Televisão + Telefone</h3>
                        <h4>€34,90<span>/mês</span></h4>
                        <ul>
                            <li><i class="fas fa-tv"></i> 140 Canais</li>
                            <li><i class="fas fa-wifi black"></i><s> 100/100</s>  200/100 Mbps</li>
                            <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                            <li class="na"><i class="bx bx-x"></i> <span>Sem Oferta/Promoção</span></li>


                        </ul>
                        <a href="#" class="get-started-btn">Aderir</a>
                    </div>


                <div class="col-lg-4 box featured" data-aos="zoom-in" data-aos-delay="100">
                    <h5>Pacote RD Familiar</h5>
                    <h3>Internet + Televisão + Telefone + Telemóvel</h3>
                    <h4>€44,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 170 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/100</s>  500/100 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li><i class="fas fa-mobile-alt"></i><b>  2 Números móveis com 2GB</b></li>
                        <li><i class="fas fa-gift"></i> Desconto 5€/mês</li>
                    </ul>
                    <a href="#" class="get-started-btn">Aderir</a>
                </div>

                <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
                    <h5>Pacote RD Gaming</h5>
                    <h3>Internet + Televisão + Telefone + Telemóvel</h3>
                    <h4>€54,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 170 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/200</s>  500/200 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li><i class="fas fa-mobile-alt"></i><b>  2 Números móveis com 10GB</b></li>
                        <li><i class="fas fa-gift"></i> Desconto 5€/mês</li>
                    </ul>
                    <a href="#" class="get-started-btn">Aderir</a>

                    <div class="col-lg-4 box featured" data-aos="zoom-in" data-aos-delay="100">
                        <h5>4P</h5>
                        <h3>Internet + Televisão + Telefone + Telemóvel</h3>
                        <h4>€59,90<span>/mês</span></h4>
                        <ul>
                            <li><i class="fas fa-tv"></i> 170 Canais</li>
                            <li><i class="fas fa-wifi black"></i><s> 100/100</s>  500/100 Mbps</li>
                            <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                            <li><i class="fas fa-mobile-alt"></i><b>  2 Números móveis com 2GB</b></li>
                            <li><i class="fas fa-gift"></i> Desconto 5€/mês</li>
                        </ul>
                        <a href="#" class="get-started-btn">Aderir</a>
                    </div>

                    <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
                        <h5>4P</h5>
                        <h3>Internet + Televisão + Telefone + Telemóvel</h3>
                        <h4>€69,90<span>/mês</span></h4>
                        <ul>
                            <li><i class="fas fa-tv"></i> 170 Canais</li>
                            <li><i class="fas fa-wifi black"></i><s> 100/200</s>  500/200 Mbps</li>
                            <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                            <li><i class="fas fa-mobile-alt"></i><b>  2 Números móveis com 10GB</b></li>
                            <li><i class="fas fa-gift"></i> Desconto 5€/mês</li>
                        </ul>
                        <a href="#" class="get-started-btn">Aderir</a>
                    </div>

                </div>

            </div>
        </section>
        <!-- Fim Secção Preços -->
        <!-- ======= Secção Equipa ======= -->
        <section id="team" class="team">
            <div class="container">


        </div>
    </section>
    <!-- Fim Secção Preços -->
    
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">
            <div class="section-title" data-aos="fade-down">
                <span>F.A.Q</span>
                <h2>F.A.Q</h2>
                <p>Perguntas Frequentes</p>
            </div>

                <div class="section-title" data-aos="fade-down">
                    <span>Equipa</span>
                    <h2>Equipa</h2>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>

                <div class="row">

                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <img src="~/TemplMain/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Walter White</h4>
                                    <span>Chief Executive Officer</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <img src="~/TemplMain/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Sarah Jhonson</h4>
                                    <span>Product Manager</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 mt-4 mt-lg-0" data-wow-delay="0.2s">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <img src="~/TemplMain/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>William Anderson</h4>
                                    <span>CTO</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 mt-4 mt-lg-0" data-wow-delay="0.3s">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <img src="~/TemplMain/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Amanda Jepson</h4>
                                    <span>Accountant</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim Secção Equipa -->
        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">
            <div class="container">
                <div class="section-title" data-aos="fade-down">
                    <span>F.A.Q</span>
                    <h2>F.A.Q</h2>
                    <p>Perguntas Frequentes</p>
                </div>


                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Como posso consultar as minhas faturas?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    Página do site: Introduza as credenciais>> Aceda ao Menu Central >> Selecione “Faturas e Pagamentos”.
                                <p>
                                    Caso pretenda, pode efetuar o download da sua fatura em pdf, selecionando a fatura pretendida e escolhendo a opção “Fatura em PDF”. As faturas ficam disponíveis para consulta durante 6 meses.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Como posso controlar os consumos de dados móveis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Pode acompanhar o seu consumo de dados em tempo real através dos contadores iniciais e, ao clicar nos mesmos, poderá ver mais detalhes. Pode também acompanhar no seu computador, através do nosso site.
                                <p>
                                    Adicionalmente, receberá uma SMS ou notificação push sempre que atingir 80% e 100% dos seus dados móveis.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">​Posso subscrever apenas o serviço de internet? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">​​O que fazer caso a minha Televisão não sintonize os 90 canais digitais? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Entre em contacto com a nossa equipa através do botão disponibilizado em cima.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Fim Secção F.A.Q. -->
