@{
    ViewData["Title"] = "Lab.Web";
}
@{

    Layout = "_LayoutIndex";
}

<main id="main" class="main_area">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title" data-aos="fade-down">
                <div class="section-img">
                </div>
                <div class="content d-flex flex-column justify-content-center" data-aos="fade-left">
                    <h3>A Internet mais rápida, a um clique de distância!</h3>
                    <p>
                        Explora o nosso pacote RD Gaming e todos serviços e promoções disponíveis!
                    </p>
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                            <i class="bx bx-receipt"></i>
                            <h4>Internet Ultra-Rápida!</h4>
                            <p>Prepara-te para uma velocidade de internet como nunca antes vista! Escolhe entre 100, 200 ou até 500Mbps de velocidade e uma internet sem lag!</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Mais de 170 canais!</h4>
                            <p>Com uma variedade gigante de canais disponiveis, explora todas as nossas opções, desde canais Premium, Video-Clube ou até Filmes!</p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up">
                        <img src="assets/img/features-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-tachometer"></i>
                            <h5 class="card-title"><a href="">Our Mission</a></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up" data-aos-delay="150">
                        <img src="assets/img/features-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-file"></i>
                            <h5 class="card-title"><a href="">Our Plan</a></h5>
                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up" data-aos-delay="300">
                        <img src="assets/img/features-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-show"></i>
                            <h5 class="card-title"><a href="">Our Vision</a></h5>
                            <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">
            <div class="text-center" data-aos="zoom-in">
                <h3>Fala com um assistente!</h3>
                <p>Se tiveres alguma duvida ou questão não hesites em contactar o nosso apoio técnico! Clica em baixo para teres o apoio mais adequado aquilo que procuras.</p>
                <a class="cta-btn" href="#">Contactar</a>
            </div>
        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-down">
                <span>Services</span>
                <h2>Services</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bi bi-briefcase" style="color: #0ea5e0;"></i>
                        <h4><a href="#">Lorem Ipsum</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-card-checklist" style="color: #07cc70;"></i>
                        <h4><a href="#">Dolor Sitema</a></h4>
                        <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-bar-chart" style="color: #e40373;"></i>
                        <h4><a href="#">Sed ut perspiciatis</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-binoculars" style="color: #f0b103;"></i>
                        <h4><a href="#">Nemo Enim</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-brightness-high" style="color: #3145fa;"></i>
                        <h4><a href="#">Magni Dolore</a></h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-calendar4-week" style="color: #a00098;"></i>
                        <h4><a href="#">Eiusmod Tempor</a></h4>
                        <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="section-title" data-aos="fade-down">
                <span>Pacotes</span>
                <h2>Pacotes</h2>
                <p>Escolha aqui entre os pacotes mais populares os mais adequados para si e para a sua familia.</p>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
                    <h3>Internet + Televisão + Telefone</h3>
                    <h4>€34,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 140 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/100</s>  200/100 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li class="na"><i class="bx bx-x"></i> <span>Sem Oferta/Promoção</span></li>
                    </ul>
                    <label class="button-form-btn" for="dialog_state">
                        <i class="icon ion-ios-upload-outline"></i> Aderir
                    </label>
                </div>

                <div class="col-lg-4 box featured" data-aos="zoom-in" data-aos-delay="100">
                    <h5>Pacote RD Familiar</h5>
                    <h3>Internet + Televisão + Telefone + Telemóvel</h3>
                    <h4>€44,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 170 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/100</s>  500/100 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li><i class="fas fa-mobile-alt"></i><b>  2 Números móveis com 2GB</b></li>
                        <li><i class="fas fa-gift"></i> Desconto 5€/mês</li>
                    </ul>
                    <label class="button-form-btn2" for="dialog_state">
                        <i class="icon ion-ios-upload-outline"></i> Aderir
                    </label>
                </div>
                <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
                    <h5>Pacote RD Gaming</h5>
                    <h3>Internet + Televisão + Telefone + Telemóvel</h3>
                    <h4>€54,90<span>/mês</span></h4>
                    <ul>
                        <li><i class="fas fa-tv"></i> 170 Canais</li>
                        <li><i class="fas fa-wifi black"></i><s> 100/200</s>  500/200 Mbps</li>
                        <li><i class="fas fa-phone-alt"></i> Voz Fixa - Chamadas incluídas</li>
                        <li><i class="fas fa-mobile-alt"></i><b>  2 Números móveis com 10GB</b></li>
                        <li><i class="fas fa-gift"></i> Desconto 5€/mês</li>
                    </ul>
                    <label class="button-form-btn" for="dialog_state">
                        <i class="icon ion-ios-upload-outline"></i> Aderir
                    </label>
                </div>
            </div>
        </div>
    </section>
</main>


<!--Popup-->
    <input type="checkbox" name="dialog_state" id="dialog_state" class="dialog_state">
    <div id='dialog'>
        <label id="dlg-back" for="dialog_state"></label>
        <div id='dlg-wrap'>
            <label id="dlg-close" for="dialog_state"><i class="fas fa-times-circle"></i></label>
            <h2 id='dlg-header'>Aderir</h2>
            <div id='dlg-content col-lg-2'>Regista-te de uma forma rápida e simples!</div>
            <div id='dlg-prompt'>
                <label class="button-form-btn">
                    <i class="icon ion-ios-checkmark-empty"></i> Aderir                  
                </label>
            </div>
    </div>
        </div>


