@{
    ViewData["Title"] = "TVBase";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div style="background-image: url(assets/img/about.jpg)" data-aos="fade-right" class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pt-4 pt-lg-0 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center" data-aos="fade-left">
                    <h3>Voluptatem dignissimos provident quasi</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                    </p>
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                            <i class="bx bx-receipt"></i>
                            <h4>Corporis voluptates sit</h4>
                            <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Ullamco laboris nisi</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                            <i class="bx bx-images"></i>
                            <h4>Labore consequatur</h4>
                            <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="400">
                            <i class="bx bx-shield"></i>
                            <h4>Beatae veritatis</h4>
                            <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->

<section class="auto-slider">
    <div id="slider">
        <figure>
            <img src="~/images/Canais/Premium/btv-hd.png" alt="BTV">            
            <img src="~/images/Canais/Premium/sport-tv1-hd.png" alt="SportTv1">
            <img src="~/images/Canais/Premium/sport-tv2-hd.png" alt="SportTv2">
            <img src="~/images/Canais/Premium/sport-tv3-hd.png" alt="SportTv3">
            <img src="~/images/Canais/Premium/eleven-1.png" alt="Eleven1">
            <img src="~/images/Canais/Premium/eleven-2.png" alt="Eleven2">
            <img src="~/images/Canais/Premium/eleven-3.png" alt="Eleven3">            
        </figure>        
    </div>
</section>

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="zoom-in">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
            </div>
        </div>
    </div>
</section>
