@{
    ViewData["Title"] = "TVBase";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<section id="featurestv" class="featurestv">
    <div class="card alig">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="card" data-aos="fade-up">
                        <img src="~/TemplMain/assets/img/CanaisTV.jpg" class="card-image" alt="CanaisTV">
                    </div>
                </div>
                <div class="col-lg-5" data-aos="zoom-in" data-aos-delay="100">
                    <i class="fas fa-laptop-house"></i>
                    <h4 class="card-title">Mais de 150 canais à sua escolha!</h4>
                    <p class="card-text">Temos uma vasta gama de canais que garantem que há sempre algo para todos os gostos. Vem conhecer entre as várias categorias como: Entretenimento, Desporto, Generalista, entre muitos mais!</p>
                    <i class="fas fa-film"></i>
                    <h4 class="card-title">Séries e Filmes</h4>
                    <p class="card-text">Descobre todos os filmes e séries que temos disponiveis, seja pelos canais fibra, canais premium ou até mesmo a nossa loja!</p>
                    <i class="fas fa-cookie-bite"></i>
                    <h4 class="card-title">TV Júnior</h4>
                    <p class="card-text">Agora com a RD Telecom é possivel aceder a um canal puramente interactivo com actividades e jogos! Vem conhecer!</p>
                </div>
                </div>
            </div>
        </div>            
</section>

<div class="container align-items-center">
    <h2>Os nossos canais de desporto mais requisitados</h2>
<section class="auto-slider">
    <div id="slider">
        <figure>
            <img src="~/images/Canais/Premium/btv-hd.png" alt="BTV">            
            <img src="~/images/Canais/Premium/sport-tv1-hd.png" alt="SportTv1">
            <img src="~/images/Canais/Premium/sport-tv2-hd.png" alt="SportTv2">
            <img src="~/images/Canais/Premium/sport-tv3-hd.png" alt="SportTv3">
            <img src="~/images/Canais/Premium/eleven-1.png" alt="Eleven1">
            <img src="~/images/Canais/Premium/eleven-2.png" alt="Eleven2">
            <img src="~/images/Canais/Premium/eleven-3.png" alt="Eleven3">            
        </figure>        
    </div>
</section>
    </div>




@*<div class="containerpac">
    <div class="cardpac" data-tilt data-tilt-max="30" data-tilt-glare data-tilt-max-glare="0.55">
        <div class="shoe">
            <img src="~/images/Canais/Desporto/c-11.png" />
        </div>
        <div class="category">
            <div class="sub-head">Category</div>
            Football
        </div>
        <div class="description">
            TextoDescrição
        </div>
        <a href="#">
            <button class="read-more">Read More</button>
        </a>
    </div>
</div>*@
