@model Projeto_Lab_Web_Grupo3.Models.Utilizadores

@if (User.IsInRole("Cliente"))
{
    Layout = "_LayoutMain";



    <container>
        <div class="container bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="p-3 m-t-20 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Dados Pessoais</h4>
                        </div>
                        <form asp-action="Edit" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UtilizadorId" />
                            <div class="row mt-2">
                                <div class="col-md-6 form-group">
                                    <label asp-for="Nome" class="labels"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Nome" class="form-control" />
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="DataNascimento" class="labels"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="DataNascimento" class="form-control" />
                                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="Morada" class="labels"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Morada" class="form-control" />
                                        <span asp-validation-for="Morada" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="CodigoPostal" class="labels"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="CodigoPostal" class="form-control" />
                                        <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="Nif" class="labels"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Nif" class="form-control" />
                                        <span asp-validation-for="Nif" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="Telemovel" class="labels"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Telemovel" class="form-control" />
                                        <span asp-validation-for="Telemovel" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="Email" class="labels"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            
                            <div class="mt-5 text-center">
                                <input type="submit" value="Guardar" class="button-form-btn profile-button" />
                                <a class="btn btn-danger" asp-action="Details">Cancelar</a>
                            </div>
                        </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </container>


    <footer id="headerPData">
        <div class="container">
            <nav id="navbarPData" class="navbarPData">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link scrollto active" asp-area="" asp-controller="Utilizadores" asp-action="Details">Dados Pessoais  <i class="fas fa-users-cog"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto active" asp-area="" asp-controller="Contratos" asp-action="Index">Os meus contratos<i class="fas fa-people-arrows"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto active" asp-area="" asp-controller="Pacotes" asp-action="Index">Pacotes disponíveis<i class="fas fa-cubes"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto active" asp-area="" asp-controller="Servicos" asp-action="Index">Promoções disponíveis<i class="fas fa-atom"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>

}
else
{

        Layout = "_LayoutAdmin";
        ViewData["Title"] = "Edit";
    
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">

                    <h3 class="page-header"><i class="icon_document_alt"></i>@ViewBag.Titulo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading no-border">
                            Editar
                        </header>
                        <div class="panel-body">
                            <form asp-action="Edit" class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UtilizadorId" />
                                <div class="form-group">
                                    <label asp-for="Nome" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Nome" class="form-control" />
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Nif" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Nif" class="form-control" />
                                        <span asp-validation-for="Nif" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label asp-for="DataNascimento" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="DataNascimento" class="form-control" />
                                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Morada" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Morada" class="form-control" />
                                        <span asp-validation-for="Morada" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Telemovel" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Telemovel" class="form-control" />
                                        <span asp-validation-for="Telemovel" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label asp-for="CodigoPostal" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="CodigoPostal" class="form-control" />
                                        <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Role" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Role" class="form-control" />
                                        <span asp-validation-for="Role" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <input type="submit" value="Guardar" class="btn btn-success" />
                                        <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </section>
                </div>
            </div>
        </section>
    </section>

        }

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
