@model UtilizadoresViewModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Index";
}


<body>
    <section id="container" class="">
        <section id="main-content">
            <section class="wrapper">
                
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-lg-12">
                            <maps src=""
                        </div>
                    </div>
                </div>


            </section>
        </section>
    </section>

</body>

@section Scripts{
    
    

}
