@*@model MudarPasswordViewModel


<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <header class="panel-heading">
                    <h1>Criar novo contrato</h1>
                </header>
                <div class="col-lg-6">
                    <form asp-action="Edit">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="NovaPassword"></label>
                                <input asp-for="NovaPassword" class="form-control" />
                                <span asp-validation-for="NovaPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="ConfirmarPassword"></label>
                                <input asp-for="ConfirmarPassword" class="form-control" />
                                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </form>
                </div>
            </div>
        </section>
    </section>
</section>*@


