@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@{
    Layout = "_LayoutMain";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" type="text/css" href="~/TemplLog/vendor/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/TemplLog/css/main.css">
    <!--===============================================================================================-->
</head>

<section>
    <form id="account" method="post">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <span class="login100-form-logo">
                        <i class="fas fa-globe-europe"></i>
                    </span>
                    <div class="login100-form-title p-b-34 p-t-27">
                        <h3>Login</h3>
                        <div class="form-group">
                            <div class="wrap-input100 validate-input" data-validate="Enter username" asp-validation-summary="All"></div>
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                        <div class="form-group p-t-10">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <div class="contact100-form-checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="container-login100-form-btn">
                                <button type="submit" class="login100-form-btn">Log in</button>
                            </div>
                            <div class="form-group p-t-25">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Esqueci-me da Password!</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Regista-te!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
