@model Projeto_Lab_Web_Grupo3.Models.Tipos_Clientes

@{
    ViewData["Title"] = "Apagar";
    Layout = "_LayoutAdmin";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">

                    <<h3>Tem a certeza que deseja apagar?</h3>


                    <div>
                        <h4>Tipos_Clientes</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="TipoClienteId" />
                            <input type="submit" value="Apagar" class="btn btn-danger" /> |
                            <a asp-action="Index">Voltar Atrás</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>


</section>