@model HomeGestaoViewModel

@{
    Layout = "_LayoutAdmin";

}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-list-alt"></i> Envio de Faturas</h3>
                @*<ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-desktop"></i>UI Fitures</li>
                        <li><i class="fa fa-list-alt"></i>Components</li>
                    </ol>*@
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <!--notification start-->
                <section class="panel">
                    <header class="panel-heading">
                        Alerts
                    </header>
                    <div class="panel-body">
                        <div class="alert alert-success fade in">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="icon-remove"></i>
                            </button>
                            As faturas deste mês já foram enviadas!
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>


