
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Sucesso";
}
<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card text-white bg-success mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.Title</h5>
                            <p class="card-text">@ViewBag.Mensagem</p>

                            <div>
                                <a class="btn btn-primary" asp-action="Index">
                                    Voltar aos Pacotes.
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </section>


</section>