@model PacotesViewModel


<main id="main">
    <section id="features" class="features">
        <div class="row">
            @foreach(var item in Model.Pacotes)

            {
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card" data-aos="fade-up">
                    @if (item.Imagem != null)
                    {
                        <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.Imagem)" class="card-img-top" alt="...">
                    }
                    <div class="card-body">
                        <i class="bx bx-tachometer"></i>
                        <h5 class="card-title align-content-lg-center"><a href="">@Html.DisplayFor(modelItem => item.Nome)</a></h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </div>
            }

            }


        </div>
    </section>



</main>

