@model Projeto_Lab_Web_Grupo3.Models.ReclamacoesViewModel

@{
    ViewData["Title"] = "Criar";
    Layout =  "_LayoutPData"; ;
}
<section id="main-content">              
                <form asp-action="Create" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            
                        <div class="container bg-white mt-5 mb-5">
                            <div class="p-3 m-t-25 py-5">
                                <div class="align-items-center">
                                    <h4 class="text-center">Reclamação  <i class="far fa-frown-open"></i></h4>
                                </div>
                                <p>Na RD Telecom, o que mais valorizamos é a sua satisfação como cliente. </p>
                                <p>Caso tenha uma reclamação a fazer indique na caixa de texto em baixo e os nossos colaboradores irão resolver a sua situação o mais breve possivel. Obrigado! </p>
                                <div class="row offset-2">
                                    <div class="col-lg-9">      
                                        <div class="form-group">
                                            <p>Enviar nova reclamação:</p>
                                            <label for="exampleFormControlTextarea1" class="col-sm-2 control-label" asp-for="Descricao"></label>
                                            <div class="col-lg-9">
                                                <textarea type="text" id="exampleFormControlTextarea1" rows="3" asp-for="Descricao" class="form-control"></textarea>
                                                <span asp-validation-for="Descricao" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="offset-2">
                                            <input type="submit" class="button-form-btn3" value="Enviar Reclamação" />
                                            <a class="button-form-btn4" asp-controller="Reclamacoes" asp-action="ViewCliente">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                     
                </form>     
 </section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
