
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Funcionário inexistente";
}
<body>
    <!-- container section start -->
    <section id="container" class="">
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                @*<h1>Editar</h1>*@
                            </header>
                            <div class="card text-white bg-warning mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">@ViewBag.Title</h5>
                                    <p class="card-text">O funcionário que selecionou já não existe. Possivelmente alguém eliminou o mesmo.</p>

<section id="main-content">
    <section class="wrapper">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.Title</h5>
                <p class="card-text">O funcionário que selecionou já não existe. Possivelmente alguém eliminou o mesmo.</p>

                <div>
                    <a class="btn btn-primary" asp-action="Index">
                        Ver lista de funcionários
                    </a>
                </div>
            </div>
        </div>
        </section>
    </section>

                                    <div>
                                        <a class="btn btn-primary" asp-action="Index">
                                            Ver lista de funcionários
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </section>
    </section>
</body>

