@model RegistoFuncionariosViewModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Registo";
}
<body>
    <!-- container section start -->
    <section id="container" class="">
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <h1>Criar</h1>
                            </header>


                            <h4>Funcionarios</h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="Registo">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @*<div class="form-group">
                                                <label asp-for="FuncionarioId" class="control-label"></label>
                                                <input asp-for="FuncionarioId" class="form-control" />
                                                <span asp-validation-for="FuncionarioId" class="text-danger"></span>
                                            </div>*@
                                        <div class="form-group">
                                            <label asp-for="Nome" class="control-label"></label>
                                            <input asp-for="Nome" class="form-control" />
                                            <span asp-validation-for="Nome" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="DataNascimento" class="control-label"></label>
                                            <input asp-for="DataNascimento" class="form-control" />
                                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Morada" class="control-label"></label>
                                            <input asp-for="Morada" class="form-control" />
                                            <span asp-validation-for="Morada" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Telemovel" class="control-label"></label>
                                            <input asp-for="Telemovel" class="form-control" />
                                            <span asp-validation-for="Telemovel" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CodigoPostal" class="control-label"></label>
                                            <input asp-for="CodigoPostal" class="form-control" />
                                            <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Role" class="control-label"></label>
                                            <input asp-for="Role" class="form-control" />
                                            <span asp-validation-for="Role" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password" class="control-label"></label>
                                            <input asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ConfirmePassword" class="control-label"></label>
                                            <input asp-for="ConfirmePassword" class="form-control" />
                                            <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Registar" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Index">Volta à lista</a>
                            </div>

                            @section Scripts {
                                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                            }
                        </section>
                    </div>
                </div>
            </section>
        </section>
    </section>
</body>
