@model Projeto_Lab_Web_Grupo3.Models.PromocoesPacotes

@{
    ViewData["Title"] = "Criar";
    Layout = "_LayoutAdmin";
}


<hr />
<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="PacoteId" class="control-label"></label>
                            <select asp-for="PacoteId" class="form-control" asp-items="ViewBag.PacoteId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="PromocoesId" class="control-label"></label>
                            <select asp-for="PromocoesId" class="form-control" asp-items="ViewBag.PromocoesId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="NomePacote" class="control-label"></label>
                            <input asp-for="NomePacote" class="form-control" />
                            <span asp-validation-for="NomePacote" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NomePromocoes" class="control-label"></label>
                            <input asp-for="NomePromocoes" class="form-control" />
                            <span asp-validation-for="NomePromocoes" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Criar" class="btn btn-primary" />
                        </div>
                    </form>

                    <div>
                        <a asp-action="Index">Voltar Atrás</a>
                    </div>
                </div>
            </div>
        </section>
    </section>


</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
