@model Projeto_Lab_Web_Grupo3.Models.PromocoesPacotes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PromocoesPacotes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PacoteId" class="control-label"></label>
                <select asp-for="PacoteId" class="form-control" asp-items="ViewBag.PacoteId"></select>
                <span asp-validation-for="PacoteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromocoesId" class="control-label"></label>
                <select asp-for="PromocoesId" class="form-control" asp-items="ViewBag.PromocoesId"></select>
                <span asp-validation-for="PromocoesId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PromocoesPacotesId" />
            <div class="form-group">
                <label asp-for="NomePacote" class="control-label"></label>
                <input asp-for="NomePacote" class="form-control" />
                <span asp-validation-for="NomePacote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePromocoes" class="control-label"></label>
                <input asp-for="NomePromocoes" class="form-control" />
                <span asp-validation-for="NomePromocoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
