
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Cliente inexistente";
}

<div class="card text-white bg-warning mb-3">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Title</h5>
        <p class="card-text">O cliente que selecionou já não existe. Possivelmente alguém eliminou o mesmo.</p>

        <div>
            <a class="btn btn-primary" asp-action="Index">
                Ver lista de clientes
            </a>
        </div>
    </div>
</div>
